@import "./assets/styles/_fonts.scss";
@import "./assets/styles/_variables.scss";
@import "./assets/styles/_mixins.scss";

:root {
  @include font-body;

  color-scheme: light dark;
  color: $font-color-white;
  background-color: $bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

h1 {
  @include font-header;
}

h2 {
  @include font-title;
}

p {
  @include font-body;
}

header .top {
  width: 100vw;
  height: 7vh;
  margin-bottom: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-color;
  z-index: 10;
}

button {
  margin: 1em;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.main-content {
  @include column;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-top: 7vh;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(141deg, $color-accent-blue 0%, $color-accent-violet 40%, $color-accent-pink 90%);
  }
}

.add-post {
  @include column;
  width: 100%;

  button {
    @include row;
    cursor: pointer;
    align-items: center;
    margin-top: 5vh;
    padding: 1em 2.5em;
    width: 27vw;
    height: 10vh;
    color: $bg-color-grey;
    background-color: rgba(0, 229, 229, 0.884);
    border: $border-blue;
    border-radius: 8px;

    &:hover {
      box-shadow: $shadow-blue;
    }
  }

  h2 {
    color: $bg-color-grey;
    margin-left: 2vw;
  }
}

.posts {
  @include column;
  width: 70vw;
  box-sizing: border-box;
  padding: 0 5vw;
}

.post-wrapper {
  margin: 5vh 5vw 10vh 5vw;
  border: $border-blue;
  border-radius: 8px;
  background-color: $bg-color-grey;

  .post-title {
    margin: 0 2vw;

    input {
      border: $border-blue;
      color: $font-color-white;
      line-height: 1em;
      font-size: 1em;
      font-weight: 500;
      width: 100%;
      box-sizing: border-box;
      padding: 2vh 2vw;
      border-radius: 8px;
    }
  }

  .post-body {
    margin: 2vh 4vw;
  }

  &:hover {
    box-shadow: $shadow-blue;
  }
}

.post-header,
.post-author,
.post-actions {
  @include row;
  justify-content: space-between;
}

.post-author,
.post-actions {
  margin: 1.5vh 1.5vw;
}

.avatar {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  margin: 1em;
}

.icon,
.icon-confirm {
  background-color: $bg-color;
  @include modal-icon;

  &:hover {
    border: $border-pink;
  }
}

.icon-confirm {
  color: $bg-color-grey;
  background-color: $color-accent-blue;

  &:hover {
    border: $border-blue;
  }
}

.icon-submit,
.icon-close {
  color: $bg-color;
  width: 1.5em;
  height: 1.5em;
}

.icon-submit {
  @include modal-icon;
  background-color: $color-accent-blue;

  &:hover {
    border: $border-blue;
  }
}

.icon-close {
  @include modal-icon;
  background-color: $color-accent-pink;

  &:hover {
    border: $border-pink;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: $border-pink;
  background-color: $font-color-white;
  color: $color-accent-pink;
  cursor: pointer;
}

.scroll-to-top:hover {
  box-shadow: $shadow-pink;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  @include column;
  transition: opacity 0.3s ease;
}

.new-post-wrapper {
  width: 60%;
}

.modal-container {
  width: 30vw;
  margin: auto;
  padding: 7vh 3vw;
  background-color: $bg-color-grey;
  border-radius: 8px;
  border: $border-pink;
  box-shadow: $shadow-pink;
  transition: all 0.3s ease;
}

.modal-header h3 {
  @include row;
  justify-content: center;
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  @include row;
  justify-content: space-around;
}

.modal-button-ok {
  @include modal-btn-size;
  background-color: $bg-color;
  border: $border-grey;

  &:hover {
    border: $border-grey;
  }
}

.modal-button-cancel {
  @include modal-btn-size;
  background-color: red;
  border: red 1px solid;

  &:hover {
    border: darkred 1px solid;
  }
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  h1 {
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1;
  }

  .add-post button {
    width: 35vw;
  }

  .posts {
    width: 80vw;
  }
}

@media (max-width: 893px) {
  .add-post button {
    width: 40vw;
  }

  .posts {
    width: 85vw;
  }
}

@media (max-width: 772px) {
  h1 {
    font-size: 3em;
  }

  .add-post button {
    width: 43vw;
  }

  .posts {
    width: 90vw;
  }
}