// _mixins.scss

@import "./_variables.scss";

@mixin font-header {
  font-family: "Raleway", sans-serif;
  color: $font-color-white;
  font-weight: 700;
  font-size: 4em;
  line-height: 1.1;
}

@mixin font-title {
  font-family: "Raleway", sans-serif;
  color: $font-color-white;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.1;
}

@mixin font-body {
  font-family: "Montserrat", sans-serif;
  color: $font-color-white;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.2;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin modal-btn-size {
  width: 7em;
  height: 2em;
}

@mixin modal-icon {
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.4em;
  border: $border-grey;
  border-radius: 8px;
}

@mixin button-base {
  margin: $spacing;
  border-radius: $border-radius;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

@mixin icon {
  width: $icon-size;
  height: $icon-size;
  background-color: $bg-color;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.4em;
  border-radius: $border-radius;
  border: $bg-color 1px solid;
}

@mixin icon-hover($border-color) {
  &:hover {
    border: 1px solid $border-color;
  }
}