$bg-color: #1d1d1d;
$bg-color-grey: #313131;

$color-accent-red: rgb(239, 0, 0);
$color-accent-blue: cyan;
$color-accent-violet: rebeccapurple;
$color-accent-pink: deeppink;

$border-pink: $color-accent-pink 1px solid;
$border-blue: $color-accent-blue 1px solid;

$shadow-pink: 0 0 .7em .3em rgba(255, 20, 145, 0.383);
$shadow-blue: 0 0 .7em .3em rgba(0, 255, 255, 0.383);

$font-color-white: #fbfbfb;
$font-color-grey: #bdbdbd;